<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="views/admin/fragments :: head(title = 'Historique personnel d\'activités')"></head>
<body>
<nav th:replace="views/admin/fragments :: navbar"></nav>
<div th:replace="views/admin/fragments ::
    header(title = 'Historique personnel d\'activités',
    description = 'Vos derniers activités.')">
</div>
<!--Main section-->
<div class="ml-5 mr-5 mb-5">
    <table class="table mt-3">
        <thead>
        <tr>
            <th scope="col">Évenement</th>
            <th scope="col">Catégorie</th>
            <th scope="col">Temps</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="historique : ${historique}">
            <th scope="row">
                <div th:text="${historique.evenement}"></div></th>
            <td th:text="${historique.category}">Otto</td>
            <td th:text="${historique.timestamp}">@mdo</td>
        </tr>
        </tbody>
    </table>
</div>
<!---->
<div th:replace="views/admin/fragments :: scripts"></div>
</body>
</html>
