<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="views/admin/fragments :: head(title = 'Authentification')"></head>
<body class="login">
<nav th:replace="views/admin/fragments :: navbar"></nav>
<main class="py-4">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div id="login" class="card">
                    <div class="card-header">Se connecter en tant que administrateur</div>

                    <div class="card-body">
                        <form method="POST" th:action="@{/admin/auth}">
                            <!--                            @csrf-->
                            <!--                            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"-->

                            <div class="form-group row">
                                <label for="email" class="col-md-4 col-form-label text-md-right">Adresse
                                    électronique</label>

                                <div class="col-md-6">
                                    <input id="email" type="email" class="form-control" name="email"
                                           th:value=" ${session.email}" required autocomplete="email" autofocus>

                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="password" class="col-md-4 col-form-label text-md-right">Mot de passe</label>

                                <div class="col-md-6">
                                    <input id="password" type="password" class="form-control" name="password" required
                                           autocomplete="current-password">
                                    <span class="invalid-feedback" style="display: unset" role="alert" th:if="session.message != null">
                                         <strong th:text="${session.message}"></strong>
                                    </span>
                                </div>
                            </div>

                            <div class="form-group row mb-0">
                                <div class="col-md-8 offset-md-4">
                                    <button type="submit" class="btn btn-primary">
                                        Se connecter
                                    </button>
                                    <input type="button" value="Problème de connexion ?" class="btn btn-link" id="recovery_button" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div id="recovery" class="card">
                    <div class="card-header">Problème d'authentification</div>

                    <div class="card-body">
                        <form action="">
                            <div class="form-group row">
                                <label for="email" class="col-md-4 col-form-label text-md-right">Adresse
                                    électronique</label>

                                <div class="col-md-6">
                                    <input id="email_recovery" type="email" class="form-control" name="email_recovery"
                                           th:value=" ${session.email}" required autocomplete="email" autofocus>

                                    <!--                                    @error('email')-->
                                    <!--                                    <span class="invalid-feedback" role="alert">-->
                                    <!--                                        <strong>{{ $message }}</strong>-->
                                    <!--                                    </span>-->
                                    <!--                                    @enderror-->
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="operation" class="col-md-4 col-form-label text-md-right">Sélectionnez l'opération que vous voulez effectuer</label>

                                <div class="col-md-6">
                                    <select class="form-control" id="operation" name="operation">
                                        <option value="SETUP_PASSWORD">
                                            Renvoyer l'email de confirmation
                                        </option>
                                        <option value="RECOVER_PASSWORD">
                                            Mot de passe oublié
                                        </option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group row mb-0">
                                <div class="col-md-8 offset-md-4">
                                    <button id="submit" class="btn btn-primary">
                                        Envoyer
                                    </button>
                                    <input type="button" value="Retour" id="retour" class="btn btn-outline-primary" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>

<!---->
<div th:replace="views/admin/fragments :: scripts"></div>
<script>
    $(document).ready(() => {
        $("#recovery").hide();
        $("#recovery_button").click(() => {
            $("#login").hide();
            $("#recovery").show();
            $("input[name='email_recovery']").val($("input[name='email']").val())
        });

        $("#retour").click(() => {
            $("#recovery").hide();
            $("#login").show();
        });

        $('#submit').click((e) => {
            e.preventDefault();
            $.ajax({
                url: "/recover_account",
                method: "POST",
                dataType: "json",
                data: JSON.stringify({
                    email: $("input[name='email_recovery']").val(),
                    operation: $("select[name='operation']").children("option:selected").val()
                }),
                headers: {
                    "X-XSRF-Token": $("meta[name='_csrf']").attr("content")
                },
                contentType: "application/json",
                success: function (response) {
                    console.log(response);
                    alert(response.message);
                    $("#recovery").hide();
                    $("#login").show();
                },
                error: response => alert(response.responseJSON.message)
            });
        })

    })

</script>
</body>
</html>
