<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="views/admin/fragments :: head(title = 'Configuration de mot de passe')"></head>
<body>
<div th:replace="views/admin/fragments ::
    header(title = 'Bienvenue ' + ${user.nom},
    description = 'Veuillez entrer un mot de passe pour sécuriser votre compte.')">
</div>
<!--Main section-->
<main class="py-2">
    <div class="container">
        <div class="row mt-4 justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Configuration de mot de passe</div>
                    <div class="card-body">
                        <form method="post" th:action="${'/set_password?token=' + user.verificationToken}">
                            <div class="form-group row">
                                <label for="password" class="col-md-4 col-form-label text-md-right">Mot de
                                    passe</label>
                                <div class="col-md-6">
                                    <input id="password" type="password" class="form-control"
                                           name="password"
                                           required autofocus>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="password_conf" class="col-md-4 col-form-label text-md-right">Confirmation
                                    du mot de passe
                                </label>
                                <div class="col-md-6">
                                    <input id="password_conf" type="password" class="form-control"
                                           name="password_conf"
                                           required autofocus>
                                    <span class="invalid-feedback" style="display: unset" role="alert">
                                        <strong th:text="${error_password_conf}">
                                        </strong>
                                    </span>

                                </div>

                            </div>
                            <div class="form-group row mb-0">
                                <div class="col-md-8 offset-md-4">
                                    <button type="submit" class="btn btn-primary">
                                        Enregistrer
                                    </button>
                                    <span class="invalid-feedback" style="display: unset" role="alert"
                                    >
                                    <strong th:text="${error}"></strong>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!---->
<div th:replace="views/admin/fragments :: scripts"></div>
</body>
</html>
