<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="views/admin/fragments :: head(title = 'Panneau d\'administrateur')"></head>
<body>
<nav th:replace="views/admin/fragments :: navbar"></nav>
<div th:replace="views/admin/fragments ::
    header(title = 'Ajouter une agence ',
    description = 'Ici vous ajouter les agences de l\'application.')">
</div>
<!--Main section-->
<div class="ml-5 mr-5 mb-5">
    <form  th:object="${agence}" method="post" action="/admin/agences/update/" th:action="${'/admin/agences/update/' + agence.id}">
        <div class="form-group">
            <label for="libelleAgence">Nom de l'agence</label>
            <input type="text" class="form-control" id="libelleAgence" th:field="*{libelleAgence}" required>
        </div>
        <div class="form-group">
            <label for="ville">Ville de L'agence</label>
            <select class="form-control" id="ville" th:field="*{ville.id}">
                <option th:each="ville: ${villes}" th:value="${ville.id}" th:text="${ville.nom}">
                </option>
            </select>
        </div>


        <!--        <div class="form-group">-->
        <!--            <label for="role">Affecter à une agence</label>-->
        <!--            <select class="form-control" id="role" th:field="*{agent.agence}">-->
        <!--                <option th:each="agence: ${agences}" th:value="${agence.id}" th:text="${agence.ville + ' / ' + agence.libelleAgence}"></option>-->
        <!--            </select>-->
        <!--        </div>-->
        <button type="submit" class="btn btn-primary">Enregistrer</button>
    </form>
</div>
<!---->
<div th:replace="views/admin/fragments :: scripts"></div>
</body>
</html>
